.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.title {
  color: #1da1f2;
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0.5rem;
}

.subtitle {
  font-size: 1.2rem;
}
